@import './base.css';

#app {
  max-width: 920px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  transition: 0.4s;
  color: inherit;
}

h1, h2 {
  line-height: 1.1;
}