@import './base.css';

#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-weight: normal;
}

a {
  text-decoration: none;
  transition: 0.4s;
  color: inherit;
}

h1 {
  text-align: center;
  font-size: 3.5em;
  font-weight: bold;
}

h1 + p {
  font-size: 1.5em;
}

.accent {
  color: #d285de;
}

.accent-btn {
  background-image: linear-gradient(to right top, #260145, #460f57, #652169, #85347b);
  color: #fff;
  padding: 15px 20px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}

.accent-btn:hover {
  cursor: pointer;
  background-image: none;
  background-color: #260145;
}

.card {
  background-color: #241f30;
  width: 370px;
  border-radius: 10px;
  padding: 20px;
}

.card h2 {
  font-weight: bold;
  font-size: 1.2em;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}